
.main{
    margin: 3rem;
    max-width: 100%;
 }

 .sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.li{
    margin: 3rem;
}
@media screen and (max-width:780px) {
     .sidebar{
        flex-direction: row;
     }
     .li{
        margin: 1rem;
     }
     .main{
        margin: 10px;
    }

    
}
.scale{
    transition: 0.5s;
 }
 .scale:hover{
     transform: scale(1.1);
   
 }